.mapBtn {
    -fx-background-radius: 10%;
    -fx-border-radius: 50%;
    -fx-background-color: Red;
}

.culturalNodeIcon {
    -fx-background-image: url("geopoint.png");
    -fx-background-radius: 50%;
    -fx-text-fill: transparent;
}